@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    background-color: hsl(180, 24%, 93%);
}

.profile-1 {
    background-color: hsl(263, 55%, 52%);
}

.profile-2 {
    background-color: hsl(217, 19%, 35%);
}

.profile-3 {
    background-color: hsl(0, 0%, 100%);
}

.profile-4 {
    background-color: hsl(219, 29%, 14%);
}




.bgs-img {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: 80% 0px;
}






.container h6 {
    color: hsl(210, 46%, 95%);
}

.container h3 {
    color: hsl(210, 46%, 95%);
    padding-top: 30px;
    font-weight: 600;

}

.profile-tex p {
    margin-top: -30px;
}

.container p {
    color: hsl(0, 0%, 81%);
    font-size: 13px;
    font-weight: 500;
    padding-top: 30px;
}




.attribution {
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: 900;
}